name: Second Workflow
#on: [push, workflow_dispatch, pull_request] # Multiple Events Triggers
on: 
  pull_request:
    types:
      - opened # Activity Types
      - closed
    branches-ignore:
      - 'quality*'
    paths-ignore:
      - '.github/workflows/*'
  workflow_dispatch:
  push: 
    branches:
      - master
      - 'dev-*' #dev-new, dev-2
      - 'feat/**' #feat/new feat/new/button
    paths:
      - '**.js' #Trigger if the push refers to JS files
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: npm ci
      - name: Run tests
        run: npm test
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: npm ci
      - name: Build Project
        run: npm run build
      - name: Deploy
        run: echo "Deploying..."
      - name: Get Context Variables Github
        run: |
          echo "${{ toJSON(github.event) }}"
          

